@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@theme {
  --color-primary: #2075a7;
  --color-secondary: #69c5c5;
  --color-dark: #252525;
  /* --color-footer-blue: #079FD9; */
  --color-footer-blue: #3c535c;
  --color-footer-gray: #99999930;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-dark);
  color: white;
}
